@charset "UTF-8";

$font-size-base: 20px;
$grid-gutter-width: 20px;
$container-large-desktop: 940px + $grid-gutter-width;

$interexchange-primary: #043758;
$interexchange-dark: #022A44;
$white: #ffffff;
$gray-lightest: #F7F8F9;

$navbar-default-color: $white;
$navbar-default-bg: $interexchange-primary;
$navbar-default-border: none;

$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: $interexchange-dark;
$navbar-default-link-active-color: $white;
$navbar-default-link-active-bg: $interexchange-dark;
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;

$navbar-default-brand-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-default-brand-hover-bg: transparent;

$navbar-default-toggle-hover-bg: $interexchange-dark;
$navbar-default-toggle-icon-bar-bg: $white;
$navbar-default-toggle-border-color: $white;
