@charset "UTF-8";

@import "../interexchange-variables";
@import "../bootstrap-variables";

.agreement-form {
  .labels {
    .control-label {
      margin-right: 5px;
    }
  }

  .control-group {
    margin-bottom: 20px;

    &.has-error {
      .labels {
        color: $state-danger-text;
      }
    }

    &.boolean {
      position: relative;

      .labels {
        padding-left: 30px;
      }

      .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
      }
    }
  }
}
