@charset "UTF-8";

/*doc
---
title: In Matching Participant Groups
name: in-matching-participant-groups
category: Components - Participant Group
---

<div class="alert alert-info">
  <i class="fa fa-rebel"></i>
  <strong>Careful Padawan!</strong>
  <span>These React Components are in <strong>heavy flux</strong> right now whilst we build them out
  for <strong>2015 Winter Work Travel</strong> Self Service!</span>
</div>

```html_example
<div id="InMatchingParticipantGroups"></div>
```

```js_example
React.render(
  InMatchingParticipantGroupPanels({
    urls: {
      employer: "/json/employer.json",
      inMatchingParticipantGroups: "/json/in_matching_participant_groups.json",
      participantGroups: "/json/participant_groups.json",
      participants: "/json/participants.json",
      enrollments: "/json/enrollments.json",
      programs: "/json/programs.json",
      positions: "/json/positions.json"
    }
  }),
  document.getElementById("InMatchingParticipantGroups")
);
```
*/
