@charset "UTF-8";

/*doc
---
title: In Matching Participant Groups
name: in-matching-participant-groups
category: Components - Participant Group
---

```html_example
<div class="alert alert-info">
  <i class="fa fa-rebel"></i>
  <strong>Careful Padawan!</strong>
  <span>These React Components are in <strong>heavy flux</strong> right now whilst we build them out
  for <strong>2015 Winter Work Travel</strong> Self Service!</span>
</div>

<div id="InMatchingParticipantGroupPanel"></div>
```

```jsx_example
React.renderComponent(
  <InMatchingParticipantGroupPanels source="/json/participant-groups.json" />,
  document.getElementById("InMatchingParticipantGroupPanel")
);
```
*/
