@charset "UTF-8";

/*doc
---
title: Job Offers Index
name: job-offers-index
category: Components - Filtered Job Offers
---

```html_example
<div id="JobOffersIndex"></div>
```

```js_example
React.render(
  JobOffersIndex({
    urls: {
      export: "#/export.csv",
      jobOffers: "/json/job_offers.json",
      jobOfferParticipantAgreements: "/json/job_offer_participant_agreements.json",
      jobOfferFileMakerReferences: "/json/job_offer_file_maker_references.json",
      participants: "/json/participants.json",
      positions: "/json/positions.json",
      programs: "/json/programs.json"
    }
  }),
  document.getElementById("OfferedParticipantGroupsIndex")
);
```
*/
