@charset "UTF-8";

/*doc
---
title: Offered Participant Groups Index
name: offered-participant-groups-index
category: Components - Filtered Participant Group
---

```html_example
<div id="OfferedParticipantGroupsIndex"></div>
```

```js_example
React.renderComponent(
  OfferedParticipantGroupsIndex({
    urls: {
      employer: "/json/employer.json",
      offeredParticipantGroups: "/json/offered_participant_groups.json",
      participantGroups: "/json/participant_groups.json",
      participants: "/json/participants.json",
      programs: "/json/programs.json",
      positions: "/json/positions.json",
      draft_job_offers: "/json/draft_job_offers.json",
      job_offers: "/json/job_offers.json",
      job_offer_participant_agreements: "/json/job_offer_participant_agreements.json"
    }
  }),
  document.getElementById("OfferedParticipantGroupsIndex")
);
```
*/
