@charset "UTF-8";

/*doc
---
title: Offered Participant Groups
name: offered-participant-groups
category: Components - Offered Participant Group
---

```html_example
<div id="OfferedParticipantGroups"></div>
```

```js_example
React.render(
  OfferedParticipantGroupPanels({
    urls: {
      employer: "/json/employer.json",
      offeredParticipantGroups: "/json/offered_participant_groups.json",
      participantGroups: "/json/participant_groups.json",
      participants: "/json/participants.json",
      programs: "/json/programs.json",
      positions: "/json/positions.json",
      draftJobOffers: "/json/draft_job_offers.json",
      jobOffers: "/json/job_offers.json",
      jobOfferParticipantAgreements: "/json/job_offer_participant_agreements.json",
      staff: "/json/staff.json"
    }
  }),
  document.getElementById("OfferedParticipantGroups")
);
```
*/
