@charset "UTF-8";

/*doc
---
title: Offered Participant Groups
name: offered-participant-groups
category: Components - Participant Group
---

```html_example
<div id="OfferedParticipantGroups"></div>
```

```js_example
React.renderComponent(
  OfferedParticipantGroupPanels({
    source: "/json/offered_participant_groups.json"
  }),
  document.getElementById("OfferedParticipantGroups")
);
```
*/
