@charset "UTF-8";

/*doc
---
title: Offered Participant Groups Index
name: offered-participant-groups-index
category: Components - Filtered Participant Group
---

```html_example
<div id="OfferedParticipantGroupsIndex"></div>
```

```js_example
React.renderComponent(
  OfferedParticipantGroupsIndex({
    source: "/json/offered-participant-groups.json"
  }),
  document.getElementById("OfferedParticipantGroupsIndex")
);
```
*/
