@charset "UTF-8";

/*doc
---
title: On Review Participant Groups
name: on-review-participant-groups
category: Components - Participant Group
---

```html_example
<div id="OnReviewParticipantGroups"></div>
```

```js_example
React.renderComponent(
  OnReviewParticipantGroupPanels({
    source:"/json/on-review-participant-groups.json",
    employerId: "1"
  }),
  document.getElementById("OnReviewParticipantGroups")
);
```
*/
