<% wrap_layout :layout do %>
  <img src="/images/examples/program/banner.jpg" class="img-responsive" />
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 crush">
          <h1>Program Name</h1>
          <p>Program Tagline</p>
          <div>
            <a href="" class="btn btn-primary btn-large margin-right-one"><strong>Program Signup Label</strong> <i class="fa fa-chevron-right"></i></a>
            <small class="text-muted no-wrap">Program Signup Notice</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
<% end %>
