<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-1">
      <a class="pull-left" href="https://www.interexchange.org/"><img src="/images/logo-100-white.png" alt="InterExchange" style="margin: 20px 0 0; width: 40px; height: 40px" /></a>
      <h5 class="visible-xs pull-left" style="padding: 0 0 0 10px"><a href="https://www.interexchange.org/" style="color: #FFFFFF">InterExchange</a></h5>
    </div>
    <div class="col-xs-12 col-md-2">
      <h5 class="hidden-xs"><a href="https://www.interexchange.org/" style="color: #FFFFFF">InterExchange</a></h5>
      <ul style="padding: 10px 0 10px 0; list-style: none; font-size: 0.9em">
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/about-interexchange">Mission</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/alumni">Alumni</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/career-opportunities-interexchange">Careers</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/interexchange-leadership-team">Leadership</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-2">
      <h5><a href="https://programs.interexchange.org" style="color: #FFFFFF">Programs</a></h5>
      <ul style="padding: 10px 0 10px 0; list-style: none; font-size: 0.9em">
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/au-pair">Au Pair</a></li>
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/camp">Camp</a></li>
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/grant">Grant</a></li>
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/learn">Learn</a></li>
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/teach">Teach</a></li>
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/volunteer">Volunteer</a></li>
        <li><a style="color: #FFFFFF" href="https://programs.interexchange.org/en/work-travel">Work &amp; Travel</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-2">
      <h5>Your Rights</h5>
      <ul style="padding: 10px 0 10px 0; list-style: none; font-size: 0.9em">
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/terms-use">Terms</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/privacy-policy">Privacy</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-2">
      <h5>Our Partners</h5>
      <ul style="padding: 10px 0 10px 0; list-style: none; font-size: 0.9em">
        <li><a style="color: #FFFFFF;" href="http://www.iapa.org">IAPA</a></li>
        <li><a style="color: #FFFFFF;" href="http://www.alliance-exchange.org/">Alliance Exchange</a></li>
        <li><a style="color: #FFFFFF;" href="http://www.wysetc.org/">WYSE Travel</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-3">
      <h5>Cultural Exchange</h5>
      <ul style="padding: 10px 0 10px 0; list-style: none; font-size: 0.9em">
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/american-culture">US Culture</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/american-culture/interexchange-your-community">Community Involvement</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/american-culture/travel-resources-exchange-visitors">Travel Resources</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/fulbright-hays-act">Fulbright-Hays Act</a></li>
        <li><a style="color: #FFFFFF;" href="https://www.interexchange.org/american-culture/cultural-customs-us">Culture Shock</a></li>
      </ul>
    </div>
  </div>
</div>
