@charset "UTF-8";

/*doc
---
title: Participant Group Panel
name: a-participant-group-panel
category: JavaScript Components - Participant Group Panel
---

```html_example
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <label class="list-group-item">
          <input type="checkbox" name="gender[]" value="Male" />
          <i class="fa fa-male"></i>
          Male
          <span class="badge">27</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="gender[]" value="Female" />
          <i class="fa fa-female"></i>
          Female
          <span class="badge">52</span>
        </label>
      </div>
      <div class="list-group">
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="Australia" />
          <i class="fa fa-globe"></i>
          Australia
          <span class="badge">23</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="New Zealand" />
          <i class="fa fa-globe"></i>
          New Zealand
          <span class="badge">19</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="Argentina" />
          <i class="fa fa-globe"></i>
          Argentina
          <span class="badge">15</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="Chile" />
          <i class="fa fa-globe"></i>
          Chile
          <span class="badge">12</span>
        </label>
      </div>
    </div>
    <div id="example" class="col-md-9"></div>
  </div>
```

```jsx_example
React.renderComponent(
  <ParticipantGroupPanels source="/json/participant-groups.json" />,
  document.getElementById('example')
);
```
*/

.participant-group-panel {
  @extend .panel-default;
  background-color: $brand-info;

  .media-object {
    width: 100px;
    height: 100px;
  }

  i.fa {
    padding-right: 5px;
  }

  .panel-footer {
    .panel-title {
      display: inline-block;
      font-size: $font-size-h4;
      margin-top: 3px;
    }

    hr {
      margin: 5px 0 10px;
    }

    .btn-text {
      &.active, &:active {
        color: $gray-dark;
        text-decoration: underline;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .participant-group-panel {
    .media-heading {
      margin-top: 30px;
    }

    .panel-footer {
      .btn-text {
        padding: $padding-base-vertical (4 * $padding-base-horizontal) $padding-base-vertical 0;
        text-align: left;
      }

      .panel-title {
        width: 110px;
      }
    }
  }
}
