@charset "UTF-8";

/*doc
---
title: Participant Group Panel
name: a-participant-group-panel
category: JavaScript Components - Participant Group Panel
---

```html_example
<div id="ParticipantGroupPanel"></div>
```

```jsx_example
React.renderComponent(
  <ParticipantGroupPanels source="/json/participant-groups.json" />,
  document.getElementById('ParticipantGroupPanel')
);
```
*/

.participant-group-panel {
  @extend .panel-default;
  background-color: $brand-info;

  .media-object {
    width: 100px;
    height: 100px;
  }

  i.fa {
    padding-right: 5px;
  }

  .panel-footer {
    .panel-title {
      display: inline-block;
      font-size: $font-size-h4;
      margin-top: 3px;
    }

    hr {
      margin: 5px 0 10px;
    }

    .btn-text {
      &.active, &:active {
        color: $gray-dark;
        text-decoration: underline;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .participant-group-panel {
    .media-heading {
      margin-top: 30px;
    }

    .panel-footer {
      .btn-text {
        padding: $padding-base-vertical (4 * $padding-base-horizontal) $padding-base-vertical 0;
        text-align: left;
      }

      .panel-title {
        width: 110px;
      }
    }
  }
}
