@charset "UTF-8";

/*doc
---
title: Participant Group Panel
name: a-participant-group-panel
category: JavaScript Components - Participant Group Panel
---

```html_example
<div id="ParticipantGroupPanel"></div>
```

```jsx_example
React.renderComponent(
  <ParticipantGroupPanels source="/json/participant-groups.json" />,
  document.getElementById('ParticipantGroupPanel')
);
```
*/
