<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="page-header">
      <h1>Finding a New York City Apartment on a Budget.</h1>
      <small>
      <a class="pull-left" href="https://github.com/dirkkelly"><img class="avatar img-circle" src="<%= url_root %>images/examples/avatar.jpeg" alt="Dirk Kelly"/></a>
        <a href="https://github.com/dirkkelly">Dirk Kelly</a>
        <span>2015-05-03, Sunday</span>
      </small>
    </div>

    <p>
      Apartment searching in New York City can be overwhelming and stressful to
      say the least. In such a big city, it can even be difficult to decide where to start
      looking &mdash; Park Slope, SoHo, Tribeca, the Lower East Side, Chinatown? What's
      a borough? Which is better &mdash; <a href="#">uptown or downtown</a>?
    </p>

    <p>
      So before you even start looking, do some research to understand and measure
      livability in your dream location. Look at housing quality, safety, shopping
      and services, nightlife venues, diversity, green space, etc. This might be a lot to
      consider, but it's important to go into detail since this city has so many great.
    </p>

    <blockquote>
      <p>
        Quisque est nisl, rutrum eu rutrum quis, gravida aliquam mauris. Aenean vel feugiat quam.
        Integer ipsum arcu, facilisis ac augue eget, iaculis vestibulum odio. Mauris ut varius metus.
      </p>
    </blockquote>

    <h5>Tip 1: <a href="#">Do this</a></h5>

    <p>
      If you compare Brooklyn Heights and the Upper West Side for example,
      Brooklyn is about $1,000 a month cheaper for a comparable two-bedroom apartment.
      Pick a neighborhood that is within your budget.
      If you plan on engaging in the city's social activities such as going to restaurants and museums,
      it's important that you don't make the mistake of living in an apartment that is too expensive for
      you and will leave you with no money to enjoy these activities.
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="margin"></div>
    <div class="sidebar">
      <hr />
      <div class="clearfix font-small">
        <a href="/examples/program.html"><img src="/images/examples/program/thumbnail.jpg" class="img-responsive" /></a>
        <h5><a href="/examples/program.html">Program Name</a></h5>
        <p>Interesting facts about the program that are related to this article.</p>
        <p class="text-right"><a href="/examples/program.html">Learn More</a></p>
      </div>
    </div>
  </div>
</div>
