<img src="/images/examples/program/banner.jpg" class="img-responsive" />
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 crush">
        <h1>Program Name</h1>
        <p>Program Tagline</p>
        <div>
          <a href="" class="btn btn-primary btn-large margin-right-one"><strong>Program Signup Label</strong> <i class="fa fa-chevron-right"></i></a>
          <small class="text-muted no-wrap">Program Signup Notice</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margin"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p>
        Program Description - Swag meditation synth, 8-bit butcher bitters post-ironic pickled disrupt cray.
        Lo-fi pour-over cardigan street art, cold-pressed master cleanse DIY health goth.
        Cardigan chillwave whatever post-ironic, cred aesthetic American Apparel deep v hashtag occupy chia.
        Kickstarter fap literally, meh distillery viral selvage mumblecore lo-fi.
      </p>

      <p>
        Squid 3 wolf moon selfies hella VHS organic slow-carb actually keytar scenester stumptown.
        Meh health goth heirloom master cleanse ugh, vinyl tote bag PBR&B normcore Godard Banksy fingerstache.
        90's PBR post-ironic Portland, bitters Austin actually raw denim.
      </p>

      <p class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8" allowfullscreen></iframe>
      </p>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sidebar">
        <h5>Participant Requirements</h5>
        <hr />
        <ul class="list-unstyled font-small">
          <li>
            <strong>Age</strong>
            <ul class="list-unstyled">
              <li>18 - 38</li>
            </ul>
          </li>
          <li>
            <strong>Education</strong>
            <ul class="list-unstyled">
              <li>Interns must be enrolled in and at least halfway through a degree or professional certificate program at a university or post-secondary academic institution outside the U.S.</li>
              <li>Graduates from such institutions also qualify if the internship is started within 12 months of graduation.</li>
            </ul>
          </li>
          <li>
            <strong>Internship Field</strong>
            <ul class="list-unstyled">
              <li>Must be a field InterExchange sponsors and directly related to the intern's academic field of study.</li>
            </ul>
            </li>
          <li>
            <strong>U.S. Host Employer</strong>
            <ul class="list-unstyled">
              <li>Must intern with an eligible host employer.</li>
            </ul>
          </li>
          <li>
            <strong>Current Visa Status</strong>
            <ul class="list-unstyled">
              <li>Interns may only apply for the J-1 Visa from outside the U.S.</li>
            </ul>
          </li>
          <li>
            <strong>Language</strong>
            <ul class="list-unstyled">
              <li>Verifiable English language skills and comprehension of English terminology in the internship field is necessary for successful participation.</li>
            </ul>
          </li>
          <li>
            <strong>Finances</strong>
            <ul class="list-unstyled">
              <li>Interns must have sufficient funds to support themselves during their time in the USA (including housing and living costs).</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
