.contract {
  h3, h4 {
    text-align: center;
  }

  ol {
    list-style: decimal;
    ol {
      list-style: lower-alpha;
      ol {
        list-style: lower-roman;
        ol {
          list-style: lower-alpha;
        }
      }
    }
  }

  table {
    @extend .table;
    width: 100% !important;

    th {
      width: 20% !important;
    }

    th:first-child {
      width: 40% !important;
    }
  }
}
