@charset "UTF-8";

label.list-group {
  width: 100%;

  input.list-group-item {
    width: 100%;
  }
}

.list-group {
  label.list-group-item {
    input[type="radio"] + *, input[type="checkbox"] + * {
      padding-left: 10px;
    }
  }
}
