@charset "UTF-8";

label.list-group {
  width: 100%;

  input.list-group-item {
    width: 100%;
  }
}

.list-group {
  label.list-group-item {
    .title {
      margin-left: 10px;
      margin-right: 20px;
    }
  }
}
