@charset "UTF-8";

label.list-group {
  width: 100%;

  input.list-group-item {
    width: 100%;
  }
}

.list-group {
  label.list-group-item {
    .title {
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin: 0 0 -4px 10px;
    }
  }
}
