.navbar {
  margin-bottom: 0;
}

.navbar > .container img.navbar-brand,
.navbar > .container-fluid img.navbar-brand {
  margin-left: 0;
}

.navbar-default {
  .navbar-nav > li > a {
    &:hover {
      color: darken($interexchange-primary, 10%);
    }
  }

  a.navbar-brand {
    font-weight: bold;
    color: $interexchange-primary;

    &:hover {
      color: lighten($interexchange-primary, 10%);
    }
  }

  img.navbar-brand {
    padding: 10px;
    margin: 0;
  }
}
