.navbar {
  background-color: $interexchange-primary;
  background-image: none;
  border-radius: 0;
  font-size: 0.8em;
}

.navbar-brand {
  font-size: 1.45em;
  padding: 10px;
  font-weight: bold;
}
