.navbar {
  background-color: $interexchange-primary;
  background-image: none;
  border-radius: 0;
  font-size: 0.7em;
}

.navbar-brand {
  font-size: 1.4em;
  font-weight: bold;
}

.fonts-loaded {
  .navbar {
    font-size: 0.8em;
  }

  .dropdown-menu {
    font-size: 0.1em;
  }

  a.navbar-brand {
    font-family: helvetica;
    padding: 10px;
    font-size: 1.2em;
  }
}
