.site-title {
  text-align: center;
  font-weight: bold;
  font-size: $font-size-large * 3;
  color: $interexchange-primary;
  margin: 120px 0;

  img {
    width: 125px;
    margin-top: -15px;
  }
}
