.site-title {
  text-align: center;
  font-weight: bold;
  font-size: $font-size-large * 3;
  color: $interexchange-primary;
  margin: 40px 0;

  img {
    width: 125px;
    margin-top: -15px;
  }
}

@media (min-width: $screen-sm-min) {
  .site-title {
    margin: 80px 0;
  }
}

@media (min-width: $screen-lg-min) {
  .site-title {
    margin: 120px 0;
  }
}
