@charset "UTF-8";

/*doc
---
title: Host Family Signup
name: host-family-signup
category: Examples - Host Family Signup
---

<div class="alert alert-warning">
  <i class="fa fa-warning"></i>
  <strong>Heads Up!</strong>
  <span>I'm still building this example!
</div>

```html_example
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="https://www.interexchange.org"><img class="navbar-brand" src="/images/logo-100.png" alt="InterExchange"/></a>
      <a href="https://www.interexchange.org/au-pair-usa"" class="navbar-brand">InterExchange</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-xs-12">
    <img src="/images/au-pair-usa/host-family-signup/banner.jpg" class="img-responsive img-rounded" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>
      Join Our Program
      <small>Already have an account? <a href="https://passport.interexchange.org/">Login&nbsp;here</a></small>
    </h1>
  </div>
</div>

<form method="" action="">
  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h4>We need a parent's details to create them a login account.</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="first_name">First name</label>
        <input name="first_name" id="first_name" type="text" class="form-control" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="last_name">Last name</label>
        <input name="last_name" id="last_name" type="text" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" class="form-control" />
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h4>Giving us an idea of where you live helps us match you with a <a href="https://www.interexchange.org/au-pair-usa/child-care-agency/local-coordinators">Local&nbsp;Coordinator</a></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="address_line_1">Address line 1 <small>(optional)</small></label>
        <input name="address_line_1" id="address_line_1" type="text" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="address_line_2">Address line 2 <small>(optional)</small></label>
        <input name="address_line_2" id="address_line_2" type="text" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="city">City</label>
        <input name="city" id="city" type="text" class="form-control" />
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="state">State</label>
        <select name="state" id="state" class="form-control">
          <option value="" selected="selected" disabled="disabled"></option>
          <option value="NJ">New Jersey</option>
          <option value="NY">New York</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="zip_code">Zip code</label>
        <input name="zip_code" id="zip_code" type="text" class="form-control" />
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h4>Finally we have a few questions</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="referral">How did you hear about us</label>
        <select name="referral" id="referral" class="form-control">
          <option value="Other" selected="selected">Not Sure</option>
          <option value="Internet Search">Internet Search</option>
          <option value="Publication">Publication</option>
          <option value="Print Ad">Print Ad</option>
          <option value="Blog">Blog</option>
          <option value="HF">Host Family</option>
          <option value="LC">Local Coordinator</option>
          <option value="AP">Au Pair</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="ap_gender">Do you have a preferred gender for you Au Pair?</label>
        <select name="ap_gender" id="ap_gender" class="form-control">
          <option value="Either" selected="selected">Either is fine</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="ref_by_detail">Any additional information or questions? <small>(optional)</small></label>
        <textarea name="ref_by_detail" id="ref_by_detail" class="form-control" rows="5"></textarea>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-8">
      <div class="form-group">
        <input type="submit" value="Get Started" class="btn btn-success btn-lg btn-block" />
      </div>
    </div>
  </div>
</form>
```
*/
