@charset "UTF-8";

/*doc
---
title: Host Family Signup
name: host-family-signup
category: Examples - Host Family Signup
---

<div class="alert alert-warning">
  <i class="fa fa-warning"></i>
  <strong>Heads Up!</strong>
  <span>I'm still building this example!
</div>

```html_example
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="https://www.interexchange.org"><img class="navbar-brand" src="/images/logo-100.png" alt="InterExchange"/></a>
      <a href="https://www.interexchange.org/au-pair-usa"" class="navbar-brand">InterExchange</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-xs-12">
    <img src="/images/au-pair-usa/host-signup/banner.jpg" class="img-responsive" />
  </div>
</div>
```
*/
