@charset "UTF-8";

/*doc
---
title: In Matching Participant Group Index
name: in-matching-participant-group-panel
category: Examples - In Matching Participant Group Index
---

```html_example
  <div class="row">
    <div class="col-md-3">
      <label class="list-group">
        <input type="search" name="name" class="list-group-item form-control" placeholder="Name" autofocus="true" />
      </label>
      <div class="list-group">
        <label class="list-group-item">
          <input type="checkbox" name="gender[]" value="Male" />
          <i class="fa fa-male"></i>
          Male
          <span class="badge">27</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="gender[]" value="Female" />
          <i class="fa fa-female"></i>
          Female
          <span class="badge">52</span>
        </label>
      </div>
      <div class="list-group">
        <label class="list-group-item">
          <input type="checkbox" name="age_gte" value="21" />
          <i class="fa fa-calendar-o"></i>
          21+
          <span class="badge">68</span>
        </label>
      </div>
      <div class="list-group">
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="Australia" />
          <i class="fa fa-globe"></i>
          Australia
          <span class="badge">23</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="New Zealand" />
          <i class="fa fa-globe"></i>
          New Zealand
          <span class="badge">19</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="Argentina" />
          <i class="fa fa-globe"></i>
          Argentina
          <span class="badge">15</span>
        </label>
        <label class="list-group-item">
          <input type="checkbox" name="country[]" value="Chile" />
          <i class="fa fa-globe"></i>
          Chile
          <span class="badge">12</span>
        </label>
      </div>
    </div>
    <div id="InMatchingParticipantGroupPanel" class="col-md-9"></div>
  </div>
```

```jsx_example
React.renderComponent(
  <InMatchingParticipantGroupPanels source="/json/participant-groups.json" />,
  document.getElementById("InMatchingParticipantGroupPanel")
);
```
*/
