@charset "UTF-8";

@media (min-width: $screen-md-min) {
  .media-body {
    padding-left: 5px;

    .align-middle {
      padding-top: 40px;
    }
  }
}

/*doc
---
title: List Group
name: a-list-group
category: Layout - List Group
---

```html_example
<div class="panel panel-default">
  <div class="list-group">
    <a class="list-group-item" href="#/participants/flint">
      <div class="media text-primary">
        <img class="media-object img-circle pull-left" src="http://placehold.it/100x100" alt="...">
        <div class="media-body">
          <div class="row align-middle">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Marcus Flint</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">22 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 07 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Mar 31 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="list-group-item" href="#/participants/parkinson">
      <div class="media text-danger">
        <img class="media-object img-circle pull-left" src="http://placehold.it/100x100" alt="...">
        <div class="media-body">
          <div class="row align-middle">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Pansy Parkinson</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">23 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 07 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Mar 31 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="panel-footer clearfix">
    <span>Travelling as a <strong>Couple</strong></span>
    <button class="btn btn-success btn-xs pull-right">Put on Review</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="list-group">
    <a class="list-group-item" href="#/participants/crabbe">
      <div class="media text-primary">
        <img class="media-object img-circle pull-left" src="http://placehold.it/100x100" alt="...">
        <div class="media-body">
          <div class="row align-middle">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Vincent Crabe</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">22 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 12 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Apr 03 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="panel-footer clearfix">
    <span>Travelling with <strong>Friends</strong></span>
    <button class="btn btn-success btn-xs pull-right">Put on Review</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="list-group">
    <a class="list-group-item" href="#/participants/malfoy">
      <div class="media text-primary">
        <img class="media-object img-circle pull-left" src="http://placehold.it/100x100" alt="...">
        <div class="media-body">
          <div class="row align-middle">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Draco Malfo</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">22 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 07 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Mar 31 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="panel-footer clearfix">
    <button class="btn btn-success btn-xs pull-right">Put on Review</button>
  </div>
</div>
```
*/
