@charset "UTF-8";

/*doc
---
title: List Group with Action
name: a-list-group
category: Layout - List Group
---

```html_example
<div class="panel panel-default">
  <div class="list-group">
    <a class="list-group-item" href="#/participants/flint">
      <div class="media text-primary">
        <img class="media-object img-circle pull-left" src="/images/participants/flint.jpg" alt="...">
        <div class="media-body">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Marcus Flint</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">22 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 07 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Mar 31 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="list-group-item" href="#/participants/parkinson">
      <div class="media text-danger">
        <img class="media-object img-circle pull-left" src="/images/participants/parkinson.jpg" alt="...">
        <div class="media-body">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Pansy Parkinson</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">23 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 07 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Mar 31 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="panel-footer clearfix">
    <span>Travelling as <strong>Couple</strong></span>
    <button class="btn btn-success btn-xs pull-right">Put on Review</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="list-group">
    <a class="list-group-item" href="#/participants/crabbe">
      <div class="media text-primary">
        <img class="media-object img-circle pull-left" src="/images/participants/crabbe.jpg" alt="...">
        <div class="media-body">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Vincent Crabe</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">22 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 12 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Apr 03 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="panel-footer clearfix">
    <span>Travelling with <strong>Friends</strong></span>
    <button class="btn btn-success btn-xs pull-right">Put on Review</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="list-group">
    <a class="list-group-item" href="#/participants/malfoy">
      <div class="media text-primary">
        <img class="media-object img-circle pull-left" src="/images/participants/malfoy.jpg" alt="...">
        <div class="media-body">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h4 class="media-heading">Draco Malfo</h4>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="row">
                <div class="col-md-3 col-xs-12 "><strong>United Kingdom</strong></div>
                <div class="col-md-2 col-xs-12 ">22 at arrival</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane fa-flip-vertical"></i> Dec 07 2014</div>
                <div class="col-md-3 col-xs-12 "><i class="fa fa-plane"></i> Mar 31 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="panel-footer clearfix">
    <button class="btn btn-success btn-xs pull-right">Put on Review</button>
  </div>
</div>
<div id="example"></div>
```

```jsx_example
var HelloWorld = React.createClass({
  render: function() {
    return (
      <p>
        Hello, <input type="text" placeholder="Your name here" />!
        It is {this.props.date.toTimeString()}
      </p>
    );
  }
});

setInterval(function() {
  React.renderComponent(
    <HelloWorld date={new Date()} />,
    document.getElementById('example')
  );
}, 500);
```
*/
