@charset "UTF-8";

/*doc

---
title: Table
name: a-table
category: Layout - Tables
---

```html_example
<div class="table-responsive">
  <table id="job-offers" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Participant</th>
        <th colspan="2">Employer</th>
        <th colspan="2">Position</th>
        <th class="text-right">Status</th>
        <th class="text-right">Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-strong"><a href="#/participants/123">Draco Malfoy</a></td>
        <td>E-123</td>
        <td><a href="#/employers/123">Bob's Burgers</a></td>
        <td><a href="#/job-offers/123">Fry Cook</a></td>
        <td class="text-right">$7.50 <small>/ hour</small></td>
        <td class="text-right"><span class="label label-success">Accepted</span></td>
        <td class="text-right">2014-05-12</td>
      </tr>
      <tr>
        <td><a href="#/participants/456">Pansy Parkinson</a></td>
        <td>E-456</td>
        <td><a href="#/employers/456">Linda's BnB</a></td>
        <td><a href="#/job-offers/456">Front Desk</a></td>
        <td class="text-right">$9.75 <small>/ hour</small></td>
        <td class="text-right"><span class="label label-info">New</span></td>
        <td class="text-right">2014-05-11</td>
      </tr>
      <tr>
        <td><a href="#/participants/456">Pansy Parkinson</a></td>
        <td>E-456</td>
        <td><a href="#/employers/456">Linda's BnB</a></td>
        <td><a href="#/job-offers/345">Front Desk</a></td>
        <td class="text-right">$6.50 <small>/ hour</small></td>
        <td class="text-right"><span class="label label-danger">Rejected</span></td>
        <td class="text-right">2014-05-10</td>
      </tr>
    </tbody>
  </table>
</div>
```
*/
