@charset "UTF-8";

/*doc
---
title: Complete Table
name: a-complete-table
category: Layout - Tables
---

```html_example
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th colspan="2">Participant</th>
        <th>Agent</th>
        <th>Program</th>
        <th>Age</th>
        <th>Country</th>
        <th>Status</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><a href="#">Draco Malfoy</a></td>
        <td><a href="#">Magic Tours</a></td>
        <td><a href="#">2015 Winter Work Travel</a></td>
        <td>21</td>
        <td><a href="#">United Kingdom</a></td>
        <td><span class="label label-success">Accepted</span></td>
        <td>1 hour ago</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td rowspan="3">Friends</td>
      </tr>
      <tr>
        <td><a href="#">Vincent Crabbe</a></td>
        <td><a href="#">Wizard Travels</a></td>
        <td><a href="#">2015 Summer Work Travel</a></td>
        <td>20</td>
        <td><a href="#">United Kingdom</a></td>
        <td><span class="label label-primary">Submitted</span></td>
        <td>2 hours ago</td>
      </tr>
      <tr>
        <td><a href="#">Gregory Goyle</a></td>
        <td><a href="#">Wizard Travels</a></td>
        <td><a href="#">2015 Summer Work Travel</a></td>
        <td>21</td>
        <td><a href="#">United Kingdom</a></td>
        <td><span class="label label-info">Completed</span></td>
        <td>1 day ago</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td rowspan="3">Couple</td>
      </tr>
      <tr>
        <td><a href="#">Pansy Parkinson</a></td>
        <td><a href="#">Broom Abroad</a></td>
        <td><a href="#">2015 Winter Work Travel</a></td>
        <td>20</td>
        <td><a href="#">Scotland</a></td>
        <td><span class="label label-danger">Rejected</span></td>
        <td>2 days ago</td>
      </tr>
      <tr>
        <td><a href="#">Marcus Flint</a></td>
        <td><a href="#">Broom Abroad</a></td>
        <td><a href="#">2015 Winter Work Travel</a></td>
        <td>24</td>
        <td><a href="#">Scotland</a></td>
        <td><span class="label label-default">Started</span></td>
        <td>3 days ago</td>
      </tr>
    </tbody>
  </table>
</div>
```
*/

/*doc
---
title: Basic table
name: a-basic-table
category: Layout - Tables
---

```html_example
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Striped table
name: b-striped-table
category: Layout - Tables
---

```html_example
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Edmure</td>
      <td>Fish</td>
      <td>@tul</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Bordered table
name: c-bordered-table
category: Layout - Tables
---

```html_example
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Hover table
name: d-hover-table
category: Layout - Tables
---

```html_example
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Condensed table
name: e-condensed-table
category: Layout - Tables
---

```html_example
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Highlight table
name: f-highlight-table
category: Layout - Tables
---

```html_example
<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>1</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="success">
          <td>3</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="info">
          <td>5</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="warning">
          <td>7</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="danger">
          <td>9</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
```
*/
