.dialog {
  .dialog-heading {
    h1, h2, h3, h4, h5 {
      padding-top: 0;
      margin-top: 0.2em;
    }

    small {
      margin-top: 2.5em;

      img.logo-small {
        margin-top: -2px;
      }

      a {
        color: $gray-light;
        font-weight: 700;
      }
    }
  }

  .dialog-body {
    border-top: 0.25em solid $interexchange-primary;
    background-color: #F8F8F9;

    fieldset {
      padding: 1em 0 0;

      .form-group {
        padding: 0 1em;
      }
    }
  }

  .dialog-footer {
    background-color: #DFEAF3;
    padding: 1em;
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
}
