$footer_height: 300px;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.non-footer {
  min-height: 100%;
  margin-bottom: (-1 * $footer_height);
}

.non-footer:after {
  content: "";
  display: block;
}

.non-footer:after {
  height: $footer_height;
}

.footer {
  min-height: $footer_height;
}

.footer {
  position: relative;
  background-color: $interexchange-primary;
  color: $white;

  img {
    margin: 20px 10px 0 0;
    width: 40px;
    height: 40px;
  }

  a {
    color: $white;
  }

  ul {
    list-style: none;
    padding: 10px 0 0 0;
    font-size: 0.9em;
  }
}
