.navbar {
  background-color: $interexchange-primary;
  background-image: none;
  border-radius: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.9em;

}

a.navbar-brand {
  font-family: Helvetica;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 700;
}
