.navbar {
  background-color: $interexchange-primary;
  background-image: none;
  border-radius: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.9em;

  img.logo {
    float: left;
    padding: 0;
    margin: 8px 10px 0 0 !important;
    width: 30px;
    height: 30px;
  }
}

a.navbar-brand {
  font-family: Helvetica;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 700;
}
