.crush {
  > *:first-child {
    margin-bottom: 0;
  }

  > *:last-child {
    margin-top: 0;
  }
}

.nowrap {
 white-space: nowrap;
}

.padding-left-one {
 padding-left: 1em;
}

@media (max-width: $screen-sm-min) {
  .xs-pull-none {
    float: none !important;
  }
}
