.crush {
  > *:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  > *:last-child {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.margin {
  display: block;
  margin-top: $navbar-margin-bottom;
}

.nowrap {
  white-space: nowrap;
}

.margin-right-one {
  margin-right: 1em;
}

@media (max-width: $screen-xs-max) {
  .xs-pull-none {
    float: none !important;
  }
}
