@charset "UTF-8";

/*doc
---
title: Participant Group Panel
name: a-participant-group-panel
category: JavaScript - Participant Group Panel
---

```html_example
<div id="example"></div>
```

```jsx_example
React.renderComponent(
  <ParticipantGroupPanels data={window.participantGroups} />,
  document.getElementById('example')
);
```

```json_example
window.participantGroups = [
  {
    "id": 1,
    "name": "Couple",
    "applications": [
      {
        "id": 10,
        "name": "Marcus Flint",
        "gender": "Male",
        "country": "Australia",
        "photo_url": "/images/participants/flint.jpg",
        "date_of_birth": "1988-01-02",
        "arrival_date": "2014-12-01",
        "departure_date": "2015-03-01"
      },
      {
        "id": 11,
        "name": "Pansy Parkinson",
        "gender": "Female",
        "country": "New Zealand",
        "photo_url": "/images/participants/parkinson.jpg",
        "date_of_birth": "1987-01-02",
        "arrival_date": "2014-12-01",
        "departure_date": "2015-03-01"
      }
    ]
  },
  {
    "id": 2,
    "name": "Individual",
    "applications": [
      {
        "id": 13,
        "name": "Draco Malfoy",
        "gender": "Male",
        "country": "United Kingdom",
        "photo_url": "/images/participants/malfoy.jpg",
        "date_of_birth": "1989-12-15",
        "arrival_date": "2014-11-15",
        "departure_date": "2015-02-03"
      }
    ]
  },
  {
    "id": 3,
    "name": "Friends",
    "applications": [
      {
        "id": 12,
        "name": "Vincent McNameLong Crabbe",
        "gender": "Male",
        "country": "The Republic of Ireland",
        "photo_url": "/images/participants/crabbe.jpg",
        "date_of_birth": "1989-05-15",
        "arrival_date": "2014-12-15",
        "departure_date": "2015-04-03"
      },
      {
        "id": 12,
        "name": "Gregory Goyle",
        "gender": "Male",
        "country": "The Republic of Ireland",
        "photo_url": "/images/participants/goyle.jpg",
        "date_of_birth": "1989-05-15",
        "arrival_date": "2014-12-15",
        "departure_date": "2015-04-03"
      }
    ]
  }
]
```
*/

.participant-group-panel {
  @extend .panel-default;
  background-color: $brand-info;

  .media-object {
    width: 100px;
    height: 100px;
  }

  i.fa {
    padding-right: 5px;
  }

  .panel-footer {
    .panel-title {
      display: inline-block;
      font-size: $font-size-h4;
      margin-top: 3px;
    }

    hr {
      margin: 5px 0 10px;
    }

    .btn-text {
      &.active, &:active {
        color: $gray-dark;
        text-decoration: underline;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .participant-group-panel {
    .media-heading {
      margin-top: 30px;
    }

    .panel-footer {
      .btn-text {
        padding: $padding-base-vertical (4 * $padding-base-horizontal) $padding-base-vertical 0;
        text-align: left;
      }

      .panel-title {
        width: 110px;
      }
    }
  }
}
