@charset "UTF-8";

/*doc
---
title: Tabs
name: a-tabs
category: JavaScript - Tabs
---

```html_example
<ul id="program-details-navigation" class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#about" role="tab" data-toggle="tab">About The Job</a></li>
  <li><a href="#locations" role="tab" data-toggle="tab">Locations</a></li>
  <li><a href="#dates" role="tab" data-toggle="tab">Key Dates</a></li>
</ul>
<div id="program-details-content" class="tab-content">
  <div class="tab-pane active" id="about">
    <p>
      Being an au pair abroad is a serious job.
      You'll need to be patient, kind, loving and extremely responsible as you care for your host children.
      You'll also need to communicate well with your host parents regularly about how things are going.
    </p>

    <p><strong>Think you're ready to become an au pair abroad?</strong></p>

    <p class="text-center">
      <a href="/working-abroad/au-pair-program/being-au-pair-abroad-right-me" class="btn btn-success">Take Our Au Pair Quiz!</a>
    </p>

    <p>
      Au pairs' responsibilities vary, but most contribute to their host family households by:
    </p>

    <ul>
      <li>
        <i class="fa fa-car fa-fw">&nbsp;</i>
        Dropping the children off and picking them up from school or after-school activities
      </li>
      <li>
        <i class="fa fa-futbol-o fa-fw">&nbsp;</i>
        Taking children to lessons, play groups, parks and other fun outings
      </li>
      <li>
        <i class="fa fa-pencil fa-fw">&nbsp;</i>
        Helping children with homework
      </li>
      <li>
        <i class="fa fa-puzzle-piece fa-fw">&nbsp;</i>
        Assisting in keeping the children's rooms and play areas clean
      </li>
      <li>
        <i class="fa fa-cutlery fa-fw">&nbsp;</i>
        Preparing snacks and meals for the children
      </li>
      <li>
        <i class="fa fa-calendar-o fa-fw">&nbsp;</i>
        Staying home during school vacations, when a child is sick or on other unexpected days off
      </li>
    </ul>

    <p>
      Your responsibilities as an au pair are only related to child care. As a member of the household, you might contribute to small, everyday tasks like washing dinner dishes or taking the dog for a walk, but only in a way that is equal to the contributions of other members of the family.
    </p>
  </div>
  <div class="tab-pane" id="locations">
    <div class="list-group">
      <a class="list-group-item" href="/working-abroad/au-pair-program/become-au-pair-australia">
        <i class="fa fa-globe">&nbsp;</i>
        Australia
      </a>
      <a class="list-group-item" href="/working-abroad/au-pair-program/become-au-pair-france">
        <i class="fa fa-globe">&nbsp;</i>
        France
      </a>
      <a class="list-group-item" href="/working-abroad/au-pair-program/become-au-pair-germany">
        <i class="fa fa-globe">&nbsp;</i>
        Germany
      </a>
      <a class="list-group-item" href="/working-abroad/au-pair-program/become-au-pair-netherlands">
        <i class="fa fa-globe">&nbsp;</i>
        Netherlands
      </a>
      <a class="list-group-item" href="/working-abroad/au-pair-program/become-au-pair-new-zealand">
        <i class="fa fa-globe">&nbsp;</i>
        New Zealand
      </a>
      <a class="list-group-item" href="/working-abroad/au-pair-program/become-au-pair-spain">
        <i class="fa fa-globe">&nbsp;</i>
        Spain
      </a>
    </div>
  </div>
  <div class="tab-pane" id="dates">
    <h5>Program Length</h5>
    <p>
      Most au pair abroad placements last nine to 12 months. We also have a limited number of six-month and summer positions available.
    </p>

    <h5>Start Dates</h5>
    <p>
      For the nine- to 12-month and six-month placements, start dates are rolling. Most families prefer au pairs to start in May/June for the summer programs.
    </p>

    <h5>Interested?</h5>
    <p>
      <a href="/working-abroad/form/request-information">Request Information</a>
    </p>

    <p class="text-center">
      <a href="https://app.interexchange.org/wa/participant_signups/new" class="btn btn-success">
        Start Your Application
      </a>
    </p>
  </div>
</div>
```
*/

.nav-tabs + .tab-content {
  padding-top: 15px;
}
