<h1>The StyleGuide</h1>

<h2>A living representation of how we build web content.</h2>

<h3>Examples</h3>

<h4>Layouts <small>Structure an entire page's content</small></h4>

<div class="list-group">
  <a href="/examples/layouts/article.html" class="list-group-item">Article</a>
  <a href="/examples/layouts/program.html" class="list-group-item">Program</a>
</div>
